.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('/night-sky.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.45;
  will-change: transform;
}